{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    [
      "@babel/typescript",
      {
        "isTSX": true,
        "allExtensions": true
      }
    ],
    "@babel/react"
  ]
}
