{
  "root": true,
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "extends": [
    "@trejgun/eslint-config/presets/tsx"
  ],
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".txt"]
      }
    }
  }
}
